[SddmGreeterTheme]
Name=ArxisOS
Description=ArxisOS SDDM Theme for Plasma 6
Author=Brad Heffernan
Copyright=(c) 2024, Brad Heffernan
License=GPLv3+
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=arxisos
Theme-API=2.0
